node-red/flow/Final-2-relay-flow.json
[{"id":"40fab66f.113138","type":"tab","label":"Final-Relay-Flow","disabled":false,"info":""},{"id":"a37aaea7.791bf","type":"mqtt in","z":"40fab66f.113138","name":"Left Relay","topic":"urgn/switch/left/control","qos":"2","datatype":"auto","broker":"26eec2ad.c2a6ce","x":100,"y":80,"wires":[["38a1dc91.dac4d4","45919037.5e9fc"]]},{"id":"5fb25248.b0fffc","type":"mqtt in","z":"40fab66f.113138","name":"Right Relay","topic":"urgn/switch/right/control","qos":"2","datatype":"auto","broker":"26eec2ad.c2a6ce","x":110,"y":400,"wires":[["ca0e02ac.042e","cf43baba.927978"]]},{"id":"38a1dc91.dac4d4","type":"debug","z":"40fab66f.113138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":40,"wires":[]},{"id":"19c48bc2.228444","type":"mqtt out","z":"40fab66f.113138","name":"right-relay","topic":"urgn/switch/right/control","qos":"","retain":"","broker":"26eec2ad.c2a6ce","x":500,"y":420,"wires":[]},{"id":"6fc5c4f5.a3b30c","type":"mqtt out","z":"40fab66f.113138","name":"left-relay","topic":"urgn/switch/left/control","qos":"","retain":"","broker":"26eec2ad.c2a6ce","x":500,"y":120,"wires":[]},{"id":"45919037.5e9fc","type":"ui_text","z":"40fab66f.113138","tab":"be4079df.9a9088","name":"Left Relay Status","group":"","order":1,"format":"Left Relay Is currently <br> <p style=\"color:red\"> {{msg.payload}} </p>","x":310,"y":80,"wires":[]},{"id":"ca0e02ac.042e","type":"ui_text","z":"40fab66f.113138","tab":"be4079df.9a9088","name":"Right Relay Status","group":"","order":1,"format":"Right Relay Is currently <br> <p style=\"color:red\"> {{msg.payload}} </p>","x":330,"y":340,"wires":[]},{"id":"1896634f.62a43d","type":"ui_switch","z":"40fab66f.113138","tab":"be4079df.9a9088","name":"Right Relay ","topic":"","group":"","order":1,"onvalue":"ON","offvalue":"OFF","x":310,"y":420,"wires":[["19c48bc2.228444","fa17b309.a1143","5f32d57b.54d6ac"]]},{"id":"3cd96f5d.2a879","type":"ui_switch","z":"40fab66f.113138","tab":"be4079df.9a9088","name":"Left Relay ","topic":"","group":"","order":1,"onvalue":"ON","offvalue":"OFF","x":300,"y":120,"wires":[["6fc5c4f5.a3b30c","44f8af4.eb2c15","8c2cb67a.2d0858"]]},{"id":"fa17b309.a1143","type":"ui_toast","z":"40fab66f.113138","name":"Send mail","x":500,"y":380,"wires":[]},{"id":"4b30e965.7deaa8","type":"nora-switch","z":"40fab66f.113138","devicename":"light","roomhint":"room","name":"bedrrom light","passthru":false,"nora":"f7abf8a7.aa2298","topic":"","onvalue":"ON","onvalueType":"str","offvalue":"OFF","offvalueType":"str","x":110,"y":160,"wires":[["3cd96f5d.2a879","daa82a1f.408788","8c2cb67a.2d0858"]]},{"id":"daa82a1f.408788","type":"debug","z":"40fab66f.113138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":180,"wires":[]},{"id":"925bf067.9f6fc","type":"nora-switch","z":"40fab66f.113138","devicename":"motor","roomhint":"outdoor","name":"motor","passthru":false,"nora":"f7abf8a7.aa2298","topic":"","onvalue":"ON","onvalueType":"str","offvalue":"OFF","offvalueType":"str","x":90,"y":460,"wires":[["1896634f.62a43d","6bb7e796.603588","5f32d57b.54d6ac"]]},{"id":"43c16547.587cbc","type":"debug","z":"40fab66f.113138","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"value","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":500,"wires":[]},{"id":"44f8af4.eb2c15","type":"ui_toast","z":"40fab66f.113138","name":"","x":510,"y":80,"wires":[]},{"id":"ef0c5591.366c48","type":"mysql","z":"40fab66f.113138","mydb":"56e8414f.d797a","name":"db","x":470,"y":500,"wires":[["43c16547.587cbc"]]},{"id":"f960f73d.ae97d8","type":"inject","z":"40fab66f.113138","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"INSERT INTO `test`(portname,value) VALUES (?,?);","payload":"[4, \"ON\"]","payloadType":"str","x":1100,"y":680,"wires":[[]]},{"id":"5f32d57b.54d6ac","type":"function","z":"40fab66f.113138","name":"insert","func":"/*\nmsg.topic = \"INSERT INTO test (portname,value) VALUES ('left_relay', ?)\";\nmsg.payload = [\"Department\",\"Department_name\",\"test\"];\nreturn msg;*/\n\n\nmsg.topic = \"INSERT INTO `test` (portname,value) VALUES ('right_relay',?)\";\nmsg.payload = [msg.payload];\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":500,"wires":[["ef0c5591.366c48"]]},{"id":"6bb7e796.603588","type":"debug","z":"40fab66f.113138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":460,"wires":[]},{"id":"cf43baba.927978","type":"debug","z":"40fab66f.113138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":380,"wires":[]},{"id":"bd28aa32.4ecfc8","type":"debug","z":"40fab66f.113138","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"value","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":240,"wires":[]},{"id":"dd8debf.3728718","type":"mysql","z":"40fab66f.113138","mydb":"56e8414f.d797a","name":"db","x":410,"y":240,"wires":[["bd28aa32.4ecfc8"]]},{"id":"8c2cb67a.2d0858","type":"function","z":"40fab66f.113138","name":"insert","func":"/*\nmsg.topic = \"INSERT INTO test (portname,value) VALUES ('left_relay', ?)\";\nmsg.payload = [\"Department\",\"Department_name\",\"test\"];\nreturn msg;*/\n\n\nmsg.topic = \"INSERT INTO `test` (portname,value) VALUES ('left_relay',?)\";\nmsg.payload = [msg.payload];\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":240,"wires":[["dd8debf.3728718"]]},{"id":"26eec2ad.c2a6ce","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"be4079df.9a9088","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":"1"},{"id":"f7abf8a7.aa2298","type":"nora-config","z":"","name":"Niket Nora","group":"","notify":false},{"id":"56e8414f.d797a","type":"MySQLdatabase","z":"","name":"db","host":"127.0.0.1","port":"3306","db":"mqtt","tz":""}]