node-red/flow/flows_mqtt.json
[{"id":"bb83c5d6.9c1398","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"e96092e0.29101","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bf92b15e.913ba","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"3789867.2c9d97a","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"e8140f4c.82cb8","type":"mqtt-broker","z":"","name":"mqtt-localhost","broker":"localhost","port":"1883","clientid":"clinet1","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7b2cf1b9.21327","type":"mqtt-broker","z":"","name":"test","broker":"localhost","port":"1883","clientid":"client3","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"13f044a7.42451b","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"rpi","tz":""},{"id":"4911a522.350fec","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5ef538fe.877a58","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"2d7d483.40312b8","type":"ui_group","z":"","name":"Default","tab":"5ef538fe.877a58","disp":true,"width":"6","collapse":false},{"id":"87e6c2dg.0a926","type":"mqtt out","z":0,"name":"","topic":"test2","qos":"","retain":"","broker":"e8140f4d.82cb9","x":340,"y":80,"wires":[]},{"id":"90ca4562.659918","type":"mqtt in","z":"bb83c5d6.9c1398","name":"","topic":"niket","qos":"2","datatype":"auto","broker":"e8140f4c.82cb8","x":70,"y":260,"wires":[["23508a1f.7694f6"]]},{"id":"5a1769ce.8975f8","type":"function","z":"bb83c5d6.9c1398","name":"msg Length","func":"var newMsg = { payload: msg.payload.length };\nreturn newMsg;","outputs":1,"noerr":0,"x":290,"y":200,"wires":[["c0061b6c.bbf578"]]},{"id":"c0061b6c.bbf578","type":"debug","z":"bb83c5d6.9c1398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":240,"wires":[]},{"id":"a1cc07ca.488368","type":"inject","z":"bb83c5d6.9c1398","name":"name","topic":"niket","payload":"niket","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["c66e2b4a.6402e8"]]},{"id":"c66e2b4a.6402e8","type":"mqtt out","z":"bb83c5d6.9c1398","name":"","topic":"niket","qos":"","retain":"","broker":"e8140f4c.82cb8","x":350,"y":40,"wires":[]},{"id":"afa44b78.4a4c18","type":"function","z":"bb83c5d6.9c1398","name":"Multiple Outputs (not working)","func":"/*\nThe function edit dialog allows the number of \noutputs to be changed. If there is more than one \noutput, an array of messages can be returned by \nthe function to send to the outputs.\n\nThis makes it easy to write a function that sends \nthe message to different outputs depending on \nsome condition. For example, this function would \nsend anything on topic banana to the second \noutput rather than the first:\n*/\n\nif (msg.topic === \"niket\") {\n   return [ null, msg ];\n} else {\n   return [ msg, null ];\n}","outputs":1,"noerr":0,"x":290,"y":160,"wires":[["c0061b6c.bbf578"]]},{"id":"7bbef069.6faa8","type":"function","z":"bb83c5d6.9c1398","name":"Multiple Messages","func":"/*A function can return multiple messages on an output by returning\nan array of messages within the returned array. */\nvar msg1 = { payload:\"first out of output 1\" };\nvar msg2 = { payload:\"second out of output 1\" };\nvar msg3 = { payload:\"third out of output 1\" };\nvar msg4 = { payload:\"only message from output 2\" };\nreturn [ [ msg1, msg2, msg3 ], msg4 ];","outputs":1,"noerr":0,"x":290,"y":240,"wires":[["c0061b6c.bbf578"]]},{"id":"846bb49c.1b7338","type":"function","z":"bb83c5d6.9c1398","name":"messages asynchronously (not working)","func":"doSomeAsyncWork(msg, function(niket) {\n    msg.payload = niket;\n    node.send(msg);\n});\nreturn;\n//return msg;","outputs":1,"noerr":0,"x":380,"y":440,"wires":[["8d312cc7.79395"]]},{"id":"82373a25.a16b18","type":"inject","z":"bb83c5d6.9c1398","name":"name","topic":"niket","payload":"niket","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":440,"wires":[["846bb49c.1b7338"]]},{"id":"8d312cc7.79395","type":"debug","z":"bb83c5d6.9c1398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":440,"wires":[]},{"id":"9ad7001f.be8e6","type":"function","z":"bb83c5d6.9c1398","name":"logs","func":"node.log(\"Something happened\");\nnode.warn(\"Something happened you should know about\");\nnode.error(\"Oh no, something bad happened\");\n\n/* node.trace() and node.debug() are also available. */","outputs":1,"noerr":0,"x":290,"y":280,"wires":[["c0061b6c.bbf578"]]},{"id":"23508a1f.7694f6","type":"function","z":"bb83c5d6.9c1398","name":"if-else","func":"if (msg.payload === \"banana\") {\n   return [ null, 1 ];\n} else {\n   return [ 0, null ];\n}","outputs":1,"noerr":0,"x":290,"y":320,"wires":[["c0061b6c.bbf578"]]},{"id":"1b562719.94e289","type":"function","z":"bb83c5d6.9c1398","name":"msg","func":"\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":360,"wires":[["c0061b6c.bbf578"]]},{"id":"21bb9ba9.f4de74","type":"change","z":"bb83c5d6.9c1398","name":"payload value to length","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.length","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":120,"wires":[["c0061b6c.bbf578"]]},{"id":"7f11d8d7.b979b8","type":"mqtt in","z":"e96092e0.29101","name":"all","topic":"*","qos":"2","datatype":"auto","broker":"e8140f4c.82cb8","x":70,"y":560,"wires":[["3c467bab.e2f454"]]},{"id":"3c467bab.e2f454","type":"debug","z":"e96092e0.29101","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":420,"y":560,"wires":[]},{"id":"6395986b.cf75f8","type":"mqtt out","z":"e96092e0.29101","name":"","topic":"test","qos":"","retain":"","broker":"e8140f4c.82cb8","x":400,"y":360,"wires":[]},{"id":"f2700f1b.7385c","type":"inject","z":"e96092e0.29101","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":360,"wires":[["6395986b.cf75f8"]]},{"id":"c341a3f0.d1d84","type":"inject","z":"e96092e0.29101","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":420,"wires":[["23a9785d.b8a308"]]},{"id":"23a9785d.b8a308","type":"mqtt out","z":"e96092e0.29101","name":"","topic":"test2","qos":"","retain":"","broker":"e8140f4c.82cb8","x":400,"y":420,"wires":[]},{"id":"18408ab.0a4e775","type":"inject","z":"e96092e0.29101","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":480,"wires":[["58acf975.676c78"]]},{"id":"58acf975.676c78","type":"mqtt out","z":"e96092e0.29101","name":"","topic":"test3","qos":"","retain":"","broker":"e8140f4c.82cb8","x":400,"y":480,"wires":[]},{"id":"ca9024cb.945768","type":"inject","z":"bf92b15e.913ba","name":"open","topic":"test/control","payload":"open","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":40,"wires":[["e804c8c4.28ad68"]]},{"id":"25a246a8.7925ca","type":"mqtt in","z":"bf92b15e.913ba","name":"","topic":"test/control","qos":"2","datatype":"auto","broker":"e8140f4c.82cb8","x":100,"y":200,"wires":[["8d5ed3b6.009fa","9c227b7b.6d2868"]]},{"id":"8d5ed3b6.009fa","type":"function","z":"bf92b15e.913ba","name":"sensor","func":"var states=[\"OPEN\",\"CLOSED\"];\nvar topic =msg.topic;\nvar res=topic.split(\"/\");\nvar l=res.length;\nvar message=msg.payload.toUpperCase();\nif (res[l-1] == \"control\"){\n    if(message==states[0] || message==states[1]){\n        msg.payload=message;\n        msg.topic=topic.replace(\"/control\",\"\");\n        return msg;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":260,"wires":[["ecfb8491.de97e8"]]},{"id":"58542dd4.11d3a4","type":"inject","z":"bf92b15e.913ba","name":"closed","topic":"test/control","payload":"closed","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["e804c8c4.28ad68"]]},{"id":"9c227b7b.6d2868","type":"debug","z":"bf92b15e.913ba","name":"common data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":460,"y":160,"wires":[]},{"id":"ecfb8491.de97e8","type":"debug","z":"bf92b15e.913ba","name":"sensor data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":240,"wires":[]},{"id":"e804c8c4.28ad68","type":"mqtt out","z":"bf92b15e.913ba","name":"","topic":"test/control","qos":"","retain":"","broker":"e8140f4c.82cb8","x":410,"y":60,"wires":[]},{"id":"76c08b46.726264","type":"inject","z":"3789867.2c9d97a","name":"","topic":"test","payload":"{\"value\":\"7000\", \"data\":\"001\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":40,"wires":[["e75e9df1.48af1"]]},{"id":"e75e9df1.48af1","type":"mqtt out","z":"3789867.2c9d97a","name":"","topic":"test","qos":"","retain":"","broker":"e8140f4c.82cb8","x":440,"y":60,"wires":[]},{"id":"4b6f5ed2.7fc8e","type":"mqtt in","z":"3789867.2c9d97a","name":"","topic":"test","qos":"2","datatype":"auto","broker":"e8140f4c.82cb8","x":100,"y":120,"wires":[["dd181627.b1fae8"]]},{"id":"dd181627.b1fae8","type":"json","z":"3789867.2c9d97a","name":"object","property":"payload","action":"obj","pretty":false,"x":260,"y":140,"wires":[["411bdbfc.50d454"]]},{"id":"411bdbfc.50d454","type":"function","z":"3789867.2c9d97a","name":"output","func":"var val={\"payload\":msg.payload.value.toString()};\nvar dat={\"payload\":msg.payload.data.toString()};\nreturn [val,dat];","outputs":2,"noerr":0,"x":440,"y":140,"wires":[["5787cf55.7cde7"],["5e1b311.f256cd"]]},{"id":"5787cf55.7cde7","type":"debug","z":"3789867.2c9d97a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":100,"wires":[]},{"id":"5e1b311.f256cd","type":"debug","z":"3789867.2c9d97a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":180,"wires":[]}]