node-red/flow/Google Assistant Flow.json
[{"id":"db1b3981.d9b3e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d92c28df.a5fe08","type":"tab","label":"GOOGLE ASSISTANT + MYSQL","disabled":false,"info":""},{"id":"316a452.eb57cba","type":"mqtt-broker","z":"","name":"Server1","broker":"localhost","port":"1883","clientid":"fan-data","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1631eed6.2349f1","type":"ui_group","z":"","name":"chart","tab":"b8137ebe.a4d9f","disp":true,"width":"6","collapse":false},{"id":"b8137ebe.a4d9f","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"71eddbdc.eec634","type":"nora-config","z":"","name":"nora config","group":"Dev","notify":false},{"id":"90dff043.3251d","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8f828d12.d5d9","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"node","tz":""},{"id":"9a72e9f4.642ef8","type":"sqldb","z":"","name":"db01","dialect":"mysql","hostname":"localhost","port":"5432","db":"node","minpool":"2","maxpool":"2","ssl":false},{"id":"47d51110.af55d","type":"sqlarray","z":"","columns":"[]"},{"id":"6c28e933.f4c948","type":"sqldb","z":"db1b3981.d9b3e8","name":"nodemysql","dialect":"mysql","hostname":"localhost","port":"5432","db":"node","minpool":"2","maxpool":"2","ssl":false},{"id":"8c064791.b4ba18","type":"google-home-conf","z":"","username":"","localControl":true},{"id":"3c4d853b.50552a","type":"mqtt in","z":"db1b3981.d9b3e8","name":"","topic":"test","qos":"2","datatype":"auto","broker":"316a452.eb57cba","x":118.5,"y":94,"wires":[["3f179352.25ca7c","e6cebcbe.6a98"]]},{"id":"cf1ab35a.85347","type":"mqtt out","z":"db1b3981.d9b3e8","name":"","topic":"test","qos":"","retain":"","broker":"316a452.eb57cba","x":361.5,"y":45,"wires":[]},{"id":"3f179352.25ca7c","type":"debug","z":"db1b3981.d9b3e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":359.5,"y":92,"wires":[]},{"id":"e6cebcbe.6a98","type":"ui_chart","z":"db1b3981.d9b3e8","name":"data","group":"1631eed6.2349f1","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#56b41f","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":377.5,"y":134,"wires":[[]]},{"id":"58563dd8.970954","type":"ui_text_input","z":"db1b3981.d9b3e8","name":"values","label":"","tooltip":"","group":"1631eed6.2349f1","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":"1","topic":"test","x":85.5,"y":31,"wires":[["cf1ab35a.85347"]]},{"id":"17a74df6.f022f2","type":"webhookrelay","z":"db1b3981.d9b3e8","buckets":"nodered","x":300.5,"y":845,"wires":[[]]},{"id":"af3d6796.c4b608","type":"inject","z":"db1b3981.d9b3e8","name":"","topic":"test","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":79,"y":846,"wires":[["17a74df6.f022f2"]]},{"id":"e111195b.b59198","type":"inject","z":"db1b3981.d9b3e8","name":"","topic":"test","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80.5,"y":927,"wires":[["17a74df6.f022f2"]]},{"id":"742ab729.244948","type":"SQL Insert","z":"db1b3981.d9b3e8","sqldb":"6c28e933.f4c948","name":"data","table":"","columns":"47d51110.af55d","requireAll":0,"x":647.5,"y":106,"wires":[[]]},{"id":"cab75a32.74d6b8","type":"nora-light","z":"d92c28df.a5fe08","devicename":"Light","lightcolor":false,"brightnesscontrol":true,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"bedroom","name":"light","nora":"71eddbdc.eec634","topic":"test","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","x":231,"y":73,"wires":[["259c6e3a.ff58e2"]]},{"id":"950aafc9.42d9c","type":"nora-switch","z":"d92c28df.a5fe08","devicename":"fan","roomhint":"bedroom","name":"fan","passthru":false,"nora":"71eddbdc.eec634","topic":"fan","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","x":249,"y":227,"wires":[["f89f5a06.aff0f8"]]},{"id":"1284ba9b.603c75","type":"inject","z":"d92c28df.a5fe08","name":"","topic":"test","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":89.5,"y":191,"wires":[["950aafc9.42d9c"]]},{"id":"119bf72d.19a779","type":"inject","z":"d92c28df.a5fe08","name":"","topic":"test","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":91,"y":265,"wires":[["950aafc9.42d9c"]]},{"id":"259c6e3a.ff58e2","type":"json","z":"d92c28df.a5fe08","name":"output","property":"payload","action":"obj","pretty":true,"x":353,"y":34,"wires":[["d97430e0.e90e6","5ef641af.663cc"]]},{"id":"a1b535e8.56d738","type":"mysql","z":"d92c28df.a5fe08","mydb":"8f828d12.d5d9","name":"db001","x":709,"y":37,"wires":[["5bd82c46.d651f4"]]},{"id":"d97430e0.e90e6","type":"function","z":"d92c28df.a5fe08","name":"insert data","func":"var obj = msg.payload;\nvar myJSON = JSON.stringify(obj);\nvar m = {\n topic : \"INSERT INTO `data`(`appliance`, `data`) VALUES ('light','\"+myJSON+\"');\"     \n };\nreturn m;\n","outputs":1,"noerr":0,"x":440,"y":93,"wires":[["a1b535e8.56d738"]]},{"id":"5bd82c46.d651f4","type":"debug","z":"d92c28df.a5fe08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":712.5,"y":105,"wires":[]},{"id":"687ecb84.47dae4","type":"inject","z":"d92c28df.a5fe08","name":"","topic":"test","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":86.5,"y":108,"wires":[["cab75a32.74d6b8"]]},{"id":"708a9b4e.d3efc4","type":"inject","z":"d92c28df.a5fe08","name":"","topic":"test","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":46,"wires":[["cab75a32.74d6b8"]]},{"id":"f89f5a06.aff0f8","type":"json","z":"d92c28df.a5fe08","name":"output","property":"payload","action":"obj","pretty":true,"x":374,"y":180,"wires":[["96b75999.596768","2147390.9bc59c8"]]},{"id":"2147390.9bc59c8","type":"function","z":"d92c28df.a5fe08","name":"insert data","func":"var obj = msg.payload;\nvar myJSON = JSON.stringify(obj);\nvar m = {\n topic : \"INSERT INTO `data`(`appliance`, `data`) VALUES ('fan','\"+myJSON+\"');\"     \n };\nreturn m;\n","outputs":1,"noerr":0,"x":572,"y":178,"wires":[["b7554c9c.04db5"]]},{"id":"b7554c9c.04db5","type":"mysql","z":"d92c28df.a5fe08","mydb":"8f828d12.d5d9","name":"db001","x":756,"y":177,"wires":[["371a9f05.80da9"]]},{"id":"371a9f05.80da9","type":"debug","z":"d92c28df.a5fe08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":741.5,"y":236,"wires":[]},{"id":"27e77684.01d51a","type":"function","z":"d92c28df.a5fe08","name":"Select Last Data","func":"/*var msg = {\ntopic : \"\"     \n};\n*/\n\nmsg.topic=\"SELECT * from data ORDER BY id DESC LIMIT 1\"\nreturn msg;\n","outputs":1,"noerr":0,"x":209,"y":776,"wires":[["e629a348.530ea"]]},{"id":"e629a348.530ea","type":"mysql","z":"d92c28df.a5fe08","mydb":"8f828d12.d5d9","name":"db001","x":429,"y":775,"wires":[[]]},{"id":"ad0163d6.a2f7f","type":"nora-switch","z":"db1b3981.d9b3e8","devicename":"TV","roomhint":"kitchen","name":"TV","passthru":true,"nora":"71eddbdc.eec634","topic":"TV","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","x":249.5,"y":261,"wires":[["ad71d3e7.f6ebb"]]},{"id":"5234e0fb.325c6","type":"inject","z":"db1b3981.d9b3e8","name":"","topic":"test","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":65,"y":228,"wires":[["ad0163d6.a2f7f"]]},{"id":"7e17f2b0.acb35c","type":"inject","z":"db1b3981.d9b3e8","name":"","topic":"test","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":69.5,"y":302,"wires":[["ad0163d6.a2f7f"]]},{"id":"ad71d3e7.f6ebb","type":"json","z":"db1b3981.d9b3e8","name":"output","property":"payload","action":"obj","pretty":true,"x":403.5,"y":231,"wires":[["c3bd4a21.f24888"]]},{"id":"c3bd4a21.f24888","type":"function","z":"db1b3981.d9b3e8","name":"insert data","func":"var obj = msg.payload;\nvar myJSON = JSON.stringify(obj);\nvar m = {\n topic : \"INSERT INTO `data`(`data`) VALUES ('\"+myJSON+\"');\"     \n };\nreturn m;\n","outputs":1,"noerr":0,"x":453.5,"y":286,"wires":[["8740cfd3.9181b"]]},{"id":"8740cfd3.9181b","type":"mysql","z":"db1b3981.d9b3e8","mydb":"8f828d12.d5d9","name":"db001","x":615.5,"y":232,"wires":[["c47f692.685a798"]]},{"id":"c47f692.685a798","type":"debug","z":"db1b3981.d9b3e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":286,"wires":[]},{"id":"96b75999.596768","type":"mqtt out","z":"d92c28df.a5fe08","name":"fan","topic":"fan","qos":"2","retain":"","broker":"316a452.eb57cba","x":508.5,"y":230,"wires":[]},{"id":"5ef641af.663cc","type":"mqtt out","z":"d92c28df.a5fe08","name":"light-data","topic":"light","qos":"2","retain":"true","broker":"316a452.eb57cba","x":532.5,"y":34,"wires":[]},{"id":"501fc383.be237c","type":"json","z":"d92c28df.a5fe08","name":"output","property":"payload","action":"obj","pretty":true,"x":280,"y":431,"wires":[["d9c30688.603498"]]},{"id":"d9c30688.603498","type":"function","z":"d92c28df.a5fe08","name":"insert data","func":"var obj = msg.payload;\nvar myJSON = JSON.stringify(obj);\nvar m = {\n topic : \"INSERT INTO `data`(`appliance`, `data`) VALUES ('fan','\"+myJSON+\"');\"     \n };\nreturn m;\n","outputs":1,"noerr":0,"x":463,"y":431,"wires":[["4cfc038b.19207c"]]},{"id":"500c4fb4.51907","type":"debug","z":"d92c28df.a5fe08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":743.5,"y":428,"wires":[]},{"id":"4cfc038b.19207c","type":"mysql","z":"d92c28df.a5fe08","mydb":"8f828d12.d5d9","name":"db001","x":606,"y":375,"wires":[["500c4fb4.51907"]]},{"id":"e4e4c146.36d0e","type":"mqtt in","z":"d92c28df.a5fe08","name":"fetch fan data","topic":"fan","qos":"2","datatype":"auto","broker":"316a452.eb57cba","x":98.5,"y":431,"wires":[["501fc383.be237c"]]},{"id":"1771bb01.128b05","type":"json","z":"d92c28df.a5fe08","name":"output","property":"payload","action":"obj","pretty":true,"x":298,"y":342,"wires":[["c98a38d8.98e028"]]},{"id":"c98a38d8.98e028","type":"function","z":"d92c28df.a5fe08","name":"insert data","func":"var obj = msg.payload;\nvar myJSON = JSON.stringify(obj);\nvar m = {\n topic : \"INSERT INTO `data`(`appliance`, `data`) VALUES ('light','\"+myJSON+\"');\"     \n };\nreturn m;\n","outputs":1,"noerr":0,"x":463,"y":342,"wires":[["f5a786ec.37ce18"]]},{"id":"4a3b452a.37182c","type":"debug","z":"d92c28df.a5fe08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":741.5,"y":336,"wires":[]},{"id":"f5a786ec.37ce18","type":"mysql","z":"d92c28df.a5fe08","mydb":"8f828d12.d5d9","name":"db001","x":605,"y":290,"wires":[["4a3b452a.37182c"]]},{"id":"afa07220.ca3bb","type":"mqtt in","z":"d92c28df.a5fe08","name":"fetch light data","topic":"light","qos":"2","datatype":"auto","broker":"316a452.eb57cba","x":105.5,"y":343,"wires":[["1771bb01.128b05"]]}]